<script>
    document.addEventListener('keydown', function(event) {
        if (event.key === 'm') {
            const music = document.getElementById('music');
            if(music.style.display !== 'block') {
                music.style.display = 'block';
            } else {
                music.style.display = 'none';
            }
        } else if (event.key === 'a') {
            window.scrollTo({top: 0, behavior: 'smooth'});
        } else if (event.key === 'v') {
            window.scrollTo({top: document.body.scrollHeight , behavior: 'smooth'});
        } else if(e.code === 'h') {
            window.location.href = "/";
        } else if(e.code === 'c') {
            window.location.href = "/categories.html";
        } else if(e.code === 't') {
            window.location.href = "/tags.html";
        } else if(e.code === 'p') {
            window.history.back();  // 后退
        } else if(e.code === 'n') {
            window.history.forward();
        }
    });
</script>

<script>window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };</script>
<script defer src="/_vercel/speed-insights/script.js"></script>
