<script>
    document.addEventListener('keydown', function(event) {
        if (event.key === 'm') {
            const music = document.getElementById('music');
            if(music.style.display !== 'block') {
                music.style.display = 'block';
            } else {
                music.style.display = 'none';
            }
        } else if (event.key === 'Escape') {
            console.log('ESC键被按下');
        }
    });
</script>

<script>window.si = window.si || function () { (window.siq = window.siq || []).push(arguments); };</script>
<script defer src="/_vercel/speed-insights/script.js"></script>
