<div id="music">
    <meting-js server="tencent" type="playlist" id="7679023489" order="random" volume="0.2"></meting-js>
</div>

<link rel="stylesheet" href='https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css' />
    <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<script>
    var meting_api = 'https://meting.xdevil.top/api?server=:server&type=:type&id=:id&auth=:auth&r=:r';
</script>
<!--老版本包不能用了，要用新包-->
<script src="https://unpkg.com/@xizeyoupan/meting@latest/dist/Meting.min.js"></script>

<style>
#music {
    display: none;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    width: 100%;
}
</style>