---
layout: base
---

<div id="header">
    <div class="fontsz36 font-bold"> {{ page.title }} </div>
</div>


<div id="abstracts">
    {% for post in page.posts %}
    <div class="abstract">
        <img src="{{ post.image }}" loading="lazy"/>
        <div class="right">
            <a class="title fontsz28" href="{{ post.url }}"> {{ post.title }} </a>
    
            <div class="tags">
                {% for tag in post.tags %}
                <span> 
                    <a href="/tag/{{ tag }}" class="tag"> {{ tag }} </a>
                </span>
                {% endfor %}
            </div>

            <div class="description"> {{ post.description }} </div>

            <div class="statistic">
                <span> {{ post.date }} </span>
                <span style="float: right;">author:  {{ post.author }} </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{%- include footer.html -%}


<style>
#header {
    height: 35.8vh;
    padding-top: 26vh;
    background-size: 100vw;
    background: url(/assets/image/articles.jpg) no-repeat right top;
    margin: 0 auto;
    text-align: center;
    color: white;
    overflow: hidden;
}

#abstracts {
    margin: 0 auto;
    width: 61.8%;
    min-height: 80vmin;
    padding-top: 25px;
}

#abstracts .abstract {
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    border-bottom: 1px solid #eee;
    border-radius: 30px;
    margin-bottom: 30px;
    opacity:0.9;
    background-size: 50%;
    overflow: hidden;
}

#abstracts .right {
    padding: 8px 15px !important;
}

#abstracts .tags {
    padding: 15px 0;
}

#abstracts .tag {
    margin-right: 15px;
}

#abstracts .description {
    padding-bottom: 15px;
}

#abstracts .statistic {
    padding: 5px 0px;
}
</style>

