---
layout: base
---

{%- include header.html -%}

<div class="blog-abstracts">
    {% for post in page.posts %}
    <div class="abstract">
        <img src="{{ post.image }}"/>
        <div class="right">
            <a class="title fontsz28" href="{{ post.url }}"> {{ post.title }} </a>
    
            <!--<div class="tags">
                <div :span="24"> 
                    <router-link v-for="tag in article.tags" 
                            :to="{ path: '/articles', query: {'tag': tag.name}}" class="tag">
                        <el-tag class="ml-2" :type="get_random_tag_type()"> {{ tag.name }} </el-tag>
                    </router-link>
                </div>
            </div>-->

            <div> {{ post.description }} </div>

            <div class="statistic">
                <div> 1970-01-01 00:00:00 </div>
                <div style="text-align: right;">阅读 ( 1 ) | 拉胯 ( 1 ) | 点赞 ( 1 ) </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{%- include footer.html -%}


<style>
.blog-abstracts {
    margin: 0 auto;
    width: 75%;
    min-height: 80vmin;
    padding-top: 25px;
    
}

.abstract {
    box-shadow: 1px 1px 10px rgba(0,0,0,.2);
    border-bottom: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 30px;
    opacity:0.9;
    background-size: 50%;
}

.right {
    padding: 8px 15px !important;
    display: flex;
    flex-direction: column;
}

.tags {
    padding: 15px 0;
}

.tag {
    margin-right: 9px;
}

.statistic {
    padding: 10px 0px;
    margin-top: auto;
}
</style>

