<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/styles/github.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css"/>
    <link rel="shortcut icon" type="image/svg+xml" href="/src/assets/image/favicon.ico" />
    <title>Devil's blog</title>
  </head>
  <body>

    {%- include header.html -%}

    <h1>Hello World!</h1>


    <h1>Hello World!</h1>

    <div>
        <meting-js server="tencent" type="playlist" id="7679023489" order="random" volume="0.2"></meting-js>
    </div>


    {{ content }}


    {%- include copyright1.html -%}
    

    <h1>Hello World!</h1>

    <h1>Hello World!</h1>


    <div id="giscus">
        <script type="text/javascript" src="https://giscus.app/client.js"
            data-repo="Portgas-D-Asce/blog-web"
            data-repo-id="R_kgDOJCta4g"
            data-category-id="DIC_kwDOJCta4s4CbvLE"
            data-mapping="title"
            data-strict="1"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="light"
            data-lang="zh-CN"
            crossorigin="anonymous"
            async>
        </script>
    </div>

    {%- include footer.html -%}

    <link rel="stylesheet" href='https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css' />
        <script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
    <script>
        var meting_api = 'https://meting.xdevil.top/api?server=:server&type=:type&id=:id&auth=:auth&r=:r';
    </script>
    <!--老版本包不能用了，要用新包-->
    <script src="https://unpkg.com/@xizeyoupan/meting@latest/dist/Meting.min.js"></script>
    
  </body>
</html>